<div class = "site-content">

<div class="row bg-back-block">
  <div class="col-md-1">
    <div class = "block-menu-1">
      <div class = "block-logo">
      SkyX
      </div>
    </div>
  </div>

  <div class="col-md-1">
    <div class="block-menu-1">Lang</div>
  </div>

  <div class="col-md-7">
    <div class="block-menu-1">
      <div class='nav'>
      <ul>
        <li><a href='home.html'>Home</a></li>
        <li><a href='tarif.html'>Articles</a></li>
        <li><a href='reg.html'>Subscription</a></li>
        <li><a href='#'>About Us</a></li>
        <li><a href='#'>Contact Us</a></li>
        <li class='lamp' style="left: 0px; width: 79px;"><span></span></li>
      </ul>
      </div>
    </div>
  </div>
      
  <div class="col-md-3">
    <div class="block-menu-1">
      <div class="btn-group">
      <button class="btn">login</button>
      <button class="btn">registration</button>
      </div>
    </div>
  </div>
</div>


<div class="row"> 
  <div class = "txt-baner">
    <h1 style = "color:white">TEXT</h1>
    <p style = "color:white">Сдесь может быть текст много текста очень много<br>
            Сдесь может быть текст<br>
            много текста<br>
            очень много
    </p>
    <button class="btn">more..</button>
  </div>
  
  <div class = "block-move">
    <div class = "light-background-move">
    </div>
    <div class = "move-content">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?modestbranding=1
controls=0&showinfo=0&rel=0&autoplay=1&loop=1
&playlist=W0LHTWG-UmQ" allowfullscreen width ="100%" height= "100%"></iframe>
    </div>  
  </div>
</div>      

<div class="row bg-back">
  <div class = "block-bottom-baner h3">как это работает</div>
  <div style = "width:100%"></div>
      
  <div class="col-md-3">
    <div class="block-style block-text-center ">
      <div class = "circle-content">
        <div class = "block-center shape" style = "width: 50px;height: 50px;background: aliceblue;"></div>
      </div>
      <div class = "text-content-1">
      Сдесь может быть текст<br>
      много текста<br>
      очень много<br>
      Сдесь может быть текст<br>
      много текста<br>
      очень много
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="block-style block-text-center ">
      <div class = "circle-content">
        <div class = "block-center shape" style = "width: 70px;height: 70px;background: aliceblue; border-radius: 35px;"></div>
      </div>
      <div class = "text-content-1">
      Сдесь может быть текст<br>
      много текста<br>
      очень много
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="block-style block-text-center ">
      <div class = "circle-content">
      <div class = "block-center shape" style = "width: 50px;height: 50px;background: aliceblue;"></div>
      </div>
      <div class = "text-content-1">
      Сдесь может быть текст<br>
      много текста<br>
      очень много
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="block-style block-text-center ">
      <div class = "circle-content">
        <div class = "block-center shape" style = "width: 50px;height: 50px;background: aliceblue; border-radius: 25px;"></div>
      </div>
      <div class = "text-content-1">
      Сдесь может быть текст<br>
      много текста<br>
      очень много
      </div>
    </div>
  </div>
</div>



<div class = "row bg-back-1 bg-back-img">

      <div style = "background-image: url(image/sputnik.jpg);position:absolute;width:100%; height:100%;opacity: 0.15; left: 0; top: 0; "></div>
      
  <div class = "col-md-8">
    <div class = "block-menu-4-1">
    <h1>investing Plans</h1>
    </div>

    <div class = "row">
      <div class = "col-md-6">
        <div class = "block-style">
          <div class = "block-4">
            <div class = "block-4-1">
                
              <div style = "overflow: hidden; position: relative;width:100%; height:100%">
              <span style="font-size: 700px; top: -350px; position: absolute; left: -150px; opacity: 0.2; font-weight: bold; color: #0d609a; font-family: 'Ubuntu', sans-serif;">7</span> 
              <span style="font-size: 200px; position: absolute; top: 30px; left:140; opacity: 0.2;font-weight: bold; color: #0d609a; font-family: 'Ubuntu', sans-serif;">%</span>
                    
                <div class = "block-center" style = "width:100%; height:120px;text-align:center;">
                <span style = "color: #0e609a; font-size: 5em; font-weight: bold; font-family: 'Ubuntu', sans-serif;">7</span>
                <span style = "color: #0e609a; font-size: 3em; font-weight: bold; font-family: 'Ubuntu', sans-serif;">%</span>
                <span style = "color: #2e97ce; font-size: 4em; font-family: 'Ubuntu', sans-serif; ">в день </span><br>
                <span style = "color: #2e97ce; font-size: 2em; font-family: 'Ubuntu', sans-serif; ">в течении 30 дней</span>
                </div>
                
              </div>
                  
            </div>

            <span style = "color:#f68661; text-align:left; font-family: 'Ubuntu', sans-serif;">7% ежедневно в течении 30 дней</span> <br>
            <span style = "color:#fff; text-align:left; font-family: 'Ubuntu', sans-serif;">условия будут уточнятся, пока что так...</span>
          </div>
        </div>
      </div>

      <div class = "col-md-6">
        <div class = "block-style">
          <div class = "block-4">
            <div class = "block-4-1">
                  
              <div style = "overflow: hidden; position: relative;width:100%; height:100%">
              <span style="font-size: 700px; top: -500px; position: absolute; left: -230px; opacity: 0.2; font-weight: bold; color: #0d609a; font-family: 'Ubuntu', sans-serif;">0</span> 
              <span style="font-size: 200px; position: absolute;  top: 30px; left:140; opacity: 0.2; font-weight: bold; color: #0d609a; font-family: 'Ubuntu', sans-serif;">%</span>
                  
                <div class = "block-center" style = "width:100%; height:120px;text-align:center;">
                <span style = "color: #0e609a; font-size: 5em; font-weight: bold; font-family: 'Ubuntu', sans-serif;">110</span>
                <span style = "color: #0e609a; font-size: 3em; font-weight: bold; font-family: 'Ubuntu', sans-serif;">%</span><br>
                <span style = "color: #2e97ce; font-size: 2em; font-family: 'Ubuntu', sans-serif; ">в течении 7 дней</span>
                </div>
                    
              </div>
                  
            </div>
                    
            <span style = "color:#f68661; text-align:left;">110% за неделю</span><br>
            <span style = "color:#fff; text-align:left;">условия будут уточнятся, пока что так...</span>
          </div>  
        </div>
      </div>      
    </div>
  </div>        
        
  <div class = "col-md-4">
    <div class = "row">
      <div class = "col-md-12">
        <div class = "block-menu-4-1"><h3>investing <br> calc</h3></div>
        <div class = "block-style">
          <div class = "block-4-2">
          </div>
        </div>
      </div>
    </div>
  </div>      
</div>
    


    

      
<div class = "row bg-back"> 
  <div class="block-menu"><h1 class = "color-blue">Statistic</h1></div>     
  
  <div class = "col-md-3">
    <div class = "block-style block-text-center ">
      <div class = "block-decor">
            
<div class = "block-center block-ico">
  <div class = "ico-circle-up"></div>
  <div class = "ico-circle-down"></div>  
</div>
            
      </div>
      <h1>112211</h1><br>
      1 block
    </div>
  </div>
      
  <div class = "col-md-3">
    <div class = "block-style block-text-center ">
      <div class = "block-decor">
            
<div class = "block-center block-ico"> 
  <div class = "ico-circle">
    <div class = "block-center minus"></div>
    <div class = "block-center plus"></div>
  </div>
</div>
            
      </div>
      <h1>113322 $</h1><br>
      2 block
    </div>
  </div>

  <div class = "col-md-3">
    <div class = "block-style block-text-center ">
      <div class = "block-decor">
            
<div class = "block-center block-ico"> 
  <div class = "ico-circle">
    <div class = "block-center minus"></div>
  </div>
</div>
            
      </div>
      <h1>874593$</h1><br>
      3 block
    </div>
  </div>

  <div class = "col-md-3">
    <div class = "block-style block-text-center ">
      <div class = "block-decor">
          <!-- -->
<div class = "calendar-img block-center">
  <div class = "calendar-head">
    <div class = "calendar-petli calendar-petli-l"></div>
    <div class = "calendar-petli calendar-petli-r"></div>
  </div>
  <div class = "calendar-center"></div>  
</div>
            <!-- -->
            
      </div>
      <h1>59</h1><br>
      4 block
    </div>
  </div>
</div>


<div class = "row bg-back">
  <div class = "col-md-12">
  <div class = "block-menu"><h3 class = "color-blue">affiliate program</h3></div>
  <div class = "block-style block-text-center">block</div>
          
    <div>
    <div style = "    margin: auto; width: 210px;">
      <div class='nav-1'>
        <ul>
        <li><a href='#'><div class = "circle-menu"></div></a></li>
        <li><a href='#'><div class = "circle-menu"></div></a></li>
        <li><a href='#'><div class = "circle-menu"></div></a></li>
        <li class='lamp-1'><span></span></li>
        </ul>
      </div>
    </div>
    </div>
          
          
  </div>
</div>
      

<div class = "row bg-back-1">     
  <div class = "col-md-3">
    <div class = "block-style">
    <div class = "block-menu"><h3>twitter</h3></div>
    <p class = "text-decor">1 block</p>
    <hr>
    <p class = "text-decor">1 block</p>
    <hr>
    <p class = "text-decor">1 block</p>
    </div>
  </div>

  <div class = "col-md-3">
    <div class = "block-style">
    <div class = "block-menu"><h3>support</h3></div>
    <p class = "text-decor">2 block</p>
    <hr>
    <p class = "text-decor">1 block</p>
    <hr>
    <p class = "text-decor">1 block</p>
    </div>
  </div>

  <div class = "col-md-3">
    <div class = "block-style">
    <div class = "block-menu"><h3>projeckt</h3></div>
    <p class = "text-decor">3 block</p>
    <hr>
    <p class = "text-decor">1 block</p>
    </div>
  </div>

  <div class = "col-md-3">
    <div class = "block-style">
    <div class = "block-menu"><h3>contact</h3></div>
    <p class = "text-decor">4 block</p>
    <hr>
    <p class = "text-decor">1 block</p>
    <hr>
    <p class = "text-decor">1 block</p>
    <hr>
    <p class = "text-decor">1 block</p>
    </div>
  </div>
</div>    





 </div>
