.site-content
  .row.bg-back-block
    .col-md-2
      .block-logo
        img height="auto" src="/assets/logo.png" width="100%" /
    = render 'shared/home_top_lang'
    = render 'shared/home_top_menu'
    = render 'shared/home_top_user_menu'
  .row.hidden-md-down
    div style=("position:relative; width: 100%;") 
      .txt-baner
        h1 style="color:white"  TEXT
        p style="color:white" 
          | Сдесь может быть текст  много текста очень много
          br/
          | Сдесь может быть текст
          br/
          | много текста
          br/
          | очень много
        button.btn more..
    .block-move
      .light-background-move
      .move-content
        #player
  .row.bg-back.row-padding-top
    .block-bottom-baner.h3.hidden-md-down как это работает
    div style="width:100%" 
    .col-md-3
      .block-style.block-text-center
        .circle-content
          .block-center.shape style=("width: 50px;height: 50px;background: aliceblue;") 
        .text-content-1
          | Сдесь может быть текст
          br/
          | много текста
          br/
          | очень много
          br/
          | Сдесь может быть текст
          br/
          | много текста
          br/
          | очень много
    .col-md-3
      .block-style.block-text-center
        .circle-content
          .block-center.shape style=("width: 70px;height: 70px;background: aliceblue; border-radius: 35px;") 
        .text-content-1
          | Сдесь может быть текст
          br/
          | много текста
          br/
          | очень много
    .col-md-3
      .block-style.block-text-center
        .circle-content
          .block-center.shape style=("width: 50px;height: 50px;background: aliceblue;") 
        .text-content-1
          | Сдесь может быть текст
          br/
          | много текста
          br/
          | очень много
    .col-md-3
      .block-style.block-text-center
        .circle-content
          .block-center.shape style=("width: 50px;height: 50px;background: aliceblue; border-radius: 25px;") 
        .text-content-1
          | Сдесь может быть текст
          br/
          | много текста
          br/
          | очень много
  .row.bg-back-1.bg-back-img
    div style=("background-image: url(/assets/sputnik.jpg);position:absolute;width:100%; height:100%;opacity: 0.15; left: 0; top: 0; ") 
    .col-md-8
      .block-menu-4-1
        h1 investing Plans
      .row
        .col-md-6
          .block-style
            .block-4
              .block-4-1
                div style=("overflow: hidden; position: relative;width:100%; height:100%") 
                  span style=("font-size: 700px; top: -350px; position: absolute; left: -150px; opacity: 0.2; font-weight: bold; color: #0d609a; font-family: 'Ubuntu', sans-serif;")  7
                  span style=("font-size: 200px; position: absolute; top: 30px; left:140; opacity: 0.2;font-weight: bold; color: #0d609a; font-family: 'Ubuntu', sans-serif;")  %
                  .block-center style=("width:100%; height:120px;text-align:center;") 
                    span style=("color: #0e609a; font-size: 5em; font-weight: bold; font-family: 'Ubuntu', sans-serif;")  7
                    span style=("color: #0e609a; font-size: 3em; font-weight: bold; font-family: 'Ubuntu', sans-serif;")  %
                    span style=("color: #2e97ce; font-size: 4em; font-family: 'Ubuntu', sans-serif;")  в день
                    br/
                    span style=("color: #2e97ce; font-size: 2em; font-family: 'Ubuntu', sans-serif;")  в течении 30 дней
              span style=("color:#f68661; text-align:left; font-family: 'Ubuntu', sans-serif;")  7% ежедневно в течении 30 дней
              br/
              span style=("color:#fff; text-align:left; font-family: 'Ubuntu', sans-serif;")  условия будут уточнятся, пока что так...
        .col-md-6
          .block-style
            .block-4
              .block-4-1
                div style=("overflow: hidden; position: relative;width:100%; height:100%") 
                  span style=("font-size: 700px; top: -500px; position: absolute; left: -230px; opacity: 0.2; font-weight: bold; color: #0d609a; font-family: 'Ubuntu', sans-serif;")  0
                  span style=("font-size: 200px; position: absolute;  top: 30px; left:140; opacity: 0.2; font-weight: bold; color: #0d609a; font-family: 'Ubuntu', sans-serif;")  %
                  .block-center style=("width:100%; height:120px;text-align:center;") 
                    span style=("color: #0e609a; font-size: 5em; font-weight: bold; font-family: 'Ubuntu', sans-serif;")  110
                    span style=("color: #0e609a; font-size: 3em; font-weight: bold; font-family: 'Ubuntu', sans-serif;")  %
                    br/
                    span style=("color: #2e97ce; font-size: 2em; font-family: 'Ubuntu', sans-serif;")  в течении 7 дней
              span style=("color:#f68661; text-align:left;")  110% за неделю
              br/
              span style=("color:#fff; text-align:left;")  условия будут уточнятся, пока что так...
    .col-md-4
      .row
        .col-md-12
          .block-menu-4-1
            h3
              | investing
              br/
              | calc
          .block-style
            .block-4-2
  .row.bg-back
    .block-menu
      h1.color-blue Statistic
    .col-md-3
      .block-style.block-text-center
        .block-decor
          .block-center.block-ico
            .ico-circle-up
            .ico-circle-down
        h1 112211
        br/
        | 1 block
    .col-md-3
      .block-style.block-text-center
        .block-decor
          .block-center.block-ico
            .ico-circle
              .block-center.minus
              .block-center.plus
        h1 113322 $
        br/
        | 2 block
    .col-md-3
      .block-style.block-text-center
        .block-decor
          .block-center.block-ico
            .ico-circle
              .block-center.minus
        h1 874593$
        br/
        | 3 block
    .col-md-3
      .block-style.block-text-center
        .block-decor
          /!
          .calendar-img.block-center
            .calendar-head
              .calendar-petli.calendar-petli-l
              .calendar-petli.calendar-petli-r
            .calendar-center
          /!
        h1 59
        br/
        | 4 block
  .row.bg-back
    .col-md-12
      .block-menu
        h3.color-blue affiliate program
      .block-style.block-text-center block
      div
        div style=("    margin: auto; width: 210px;") 
          .nav-1
            ul
              li
                a href="#" /
                .circle-menu
              li
                a href="#" /
                .circle-menu
              li
                a href="#" /
                .circle-menu
              li.lamp-1
                span
  .row.bg-back-1
    .col-md-3
      .block-style
        .block-menu
          h3 twitter
        p.text-decor 1 block
        hr/
        p.text-decor 1 block
        hr/
        p.text-decor 1 block
    .col-md-3
      .block-style
        .block-menu
          h3 support
        p.text-decor 2 block
        hr/
        p.text-decor 1 block
        hr/
        p.text-decor 1 block
    .col-md-3
      .block-style
        .block-menu
          h3 projeckt
        p.text-decor 3 block
        hr/
        p.text-decor 1 block
    .col-md-3
      .block-style
        .block-menu
          h3 contact
        p.text-decor 4 block
        hr/
        p.text-decor 1 block
        hr/
        p.text-decor 1 block
        hr/
        p.text-decor 1 block
