<%= form_for @metapost do |f| %>
	

	<div class="form_control">
        <%= f.label :id %>
        <%= f.text_field :id %>
    </div>


    <div class="form_control">
		<%= f.submit 'Save' %>
    </div>



<% end %>